snippet class
class ${3:ClassName} {

}
endsnippet

snippet <?
<?php ${1} ?>
endsnippet

snippet pub
public function ${1:functionName}() {
${0}
}
endsnippet

snippet pri
private function ${1:functionName}() {
	${0}
}
endsnippet

snippet pro
protected function ${1:functionName}() {
	${0}
}
endsnippet

snippet foreach
foreach(${1:$array} as ${2:$key} => ${3:$value} {

}
endsnippet
